.item {
  @include dFlex(space-between);
  background-color: color(thirtry);
  padding: 1rem 2rem;
  border-radius: 5px;
  width: 100%;
  margin: 0.5rem auto;
  &-date {
    @include dFlex(center, center, column);
    gap: 0.3rem;
    color: color(secondary);
    font-size: 0.8rem;
    text-transform: capitalize;
    text-shadow: 2px 2px 2px rgba(51, 51, 51, 0.677);
    background-color: rgba(color(dark), 0.8);
    padding: 0.3rem 1rem;
    border-radius: 5px;
  }
  &-title {
    font-weight: 700;
    color: color(secondary);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.509);
  }
  &-price {
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    padding: 0.3rem;
    background-color: color(primary);
    color: color(secondary);
    width: 5rem;
    &:hover {
      border: 2px solid color(secondary);
    }
  }
}
